<!--DOCTYPE HTML>
<html>
<head>  
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

</head>
<body>

{% for value in result %}
	<script>
	    window.onload = function () {

	    var test =  '{{value.data}}'
	    var data=[]
	    for (var i = 0; i < test.length; i++) {
	        data.push({y:parseInt(test[i])})
	    }

	    var chart = new CanvasJS.Chart('chartContainer'+'{{ loop.index }}', {
	        animationEnabled: false,
	        theme: "light2",
	        title:{
	            text: 'chartContainer'+'{{ loop.index }}'
	        },
	        axisY:{
	            includeZero: true
	        },
	        data: [{        
	            type: "line",       
	            dataPoints: data
	        }]
	    });
	    chart.render();

	    }
	</script>
	<div id="chartContainer{{ loop.index }}" style=" border: 2px; height: 370px; max-width: 920px;"></div>

{% endfor %}
</body>
</html-->
<!DOCTYPE HTML>
<html>
<head>  
<script>
window.onload = function () {

var test =  ['219', ' 443', ' 239', ' 294', ' 220', ' 220', ' 475', ' 287', ' 218', ' 220', ' 467', ' 243', ' 278', ' 221', ' 290', ' 278', ' 277', ' 254', ' 279', ' 282', ' 270', ' 257', ' 216', ' 220', ' 272', ' 442', ' 226', ' 220', ' 217', ' 341', ' 267', ' 260', ' 219', ' 278', ' 228', ' 270', ' 221', ' 219', ' 292', ' 284', ' 250', ' 218', ' 221', ' 273', ' 218', ' 218', ' 221', ' 220', ' 464', ' 273', ' 218', ' 220', ' 262', ' 234', ' 287', ' 498', ' 217', ' 219', ' 219', ' 574', ' 351', ' 299', ' 513', ' 325', ' 217', ' 217', ' 217', ' 218', ' 349', ' 546', ' 322', ' 334', ' 296', ' 280', ' 219', ' 219', ' 529', ' 294', ' 287', ' 286', ' 322', ' 218', ' 217', ' 367', ' 380', ' 377', ' 548', ' 311', ' 300', ' 219', ' 218', ' 304', ' 287', ' 263', ' 308', ' 319', ' 230', ' 219', ' 217', ' 546', ' 330']

var tam = '{{result|random }}'

var test = '{{result[40].data}}'.split(',')
console.log(test)
var data=[]
for (var i = 0; i < test.length; i++) {
	data.push({y:parseInt(test[i])})
}
var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	theme: "light2",
	title:{
		text: '{{result[40].name}}' +' : '+ '{{result[40].date}}' 
	},
	axisY:{
		includeZero: true
	},
	data: [{        
		type: "line",       
		dataPoints: data
	}]
});
chart.render();

}
</script>
</head>
<body>
<div id="chartContainer" style="height: 370px; max-width: 920px; margin: 0px auto;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>