<!DOCTYPE html>
<html>
<body>

    <ul>
        {% for i in range(1,5) %}
            <li>
                <span><i></i> Part{{ i }}</span>
                {% for j in range(1,range(1, 5) | random) %}
	                <ul>
	                    <li>
	                        <span><i></i> Component</span>
	                        {% for k in range(1,range(1, 5) | random) %}
	                        	<ul>
		                            <li>
		                                <span><i></i> Atribute</span>
		                            </li>
	                        	</ul>
	        				{% endfor %}                    
	                    </li>
	                </ul>
                {% endfor %}
            </li>
        {% endfor %}
    </ul>

</body>
</html>
